:root {
  --white: #fff;
  --green-100: #03cc5c;
  --green-200: #1bf008;
  --green-300: #03cca8;

  --blue-100: #e9f0fd;
  --red-100: #ff1414;

  --gray-100: #bcc3c7;
  --gray-200: #9b9a90;
  --gray-300: #6d7478;

  --primary-color: var(--green-100);
  --start-color: var(--green-200);
  --end-color: var(--green-300);
  --active-color: var(--blue-100);
}

/* CSS를 활용하여 레이아웃 및 스타일링을 완성해주세요 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* 컴포넌트 */
.logo {
  display: block;
  background: yellow;
  width: clamp(164px, 51.25%, 230px);

  svg {
    width: 100%;
    height: auto;
  }
}

.login {
  background: greenyellow;

  input {
    min-inline-size: 0;
    background: pink;
    inline-size: 100%;
    block-size: 45px;
    font-size: 14px;
    padding-inline-start: 0.5em;
  }
}

.checkbox {
  position: relative;

  &.svg-icon {
    margin-top: 8px;
    &:has(:checked) .area,
    &:has(:checked) .border {
      fill: var(--primary-color);
    }
    &:has(:checked) .marker {
      fill: var(--white);
    }
  }
  input {
    position: absolute;
    block-size: 24px;
    inline-size: 24px;
    left: 0;
    top: 0;

    appearance: none;
  }
  label {
    background: #03cc5c;
    display: block;
    align-content: center;
    block-size: 24px;
  }
}

.text {
  font-weight: 700;
}

.switch {
  position: relative;

  input {
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 0;
  }
  label {
    display: block;
    inline-size: 2em;

    &::after {
      content: 'OFF';
    }
  }
}
